<style>
    img.img-responsive { display: table-cell; max-width: 3em; margin-left: auto; margin-right: auto;}
</style>

<div class="container">
  <div class="row">
    {% for platform in site.data.downloads.platforms %}
    <div class="col-md-1 text-center">
      <a href="/{{ platform.name | downcase | remove: ' '}}">
        <img class="img-responsive" src="{{ platform.logo | prepend: site.baseurl }}" title="{{ platform.name }}" />
      </a>
      <strong>{{platform.name}}</strong>
    </div>
    {% endfor %}
  </div>
</div>
